@model ECOMMERCE.CORE.EntityDireccion
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header text-center">
                <h1>DIRECCION</h1>
            </div>

            @using (Html.BeginForm("Delete", "MasterDirecciones", FormMethod.Post))
            {
                <div class="card-body text-left">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.ididentifier_i)
                    @Html.HiddenFor(model => model.user_i)
                    @Html.HiddenFor(model => model.pais_i)
                    @Html.HiddenFor(model => model.ciudad_nv)
                    @Html.HiddenFor(model => model.numero_i)
                    @Html.HiddenFor(model => model.direccion_nv)

                    <div class="form-group">
                        ¿Quieres borrar @Model.ididentifier_i @Model.direccion_nv de la base de datos?
                    </div>

                </div>

                <div class="card-footer text-center">
                    <a class="btn btn-primary" asp-area="" asp-controller="MasterDirecciones" asp-action="Index" asp-route-id="@Model.user_i">Volver a Direcciones</a>
                    <input class="btn btn-primary"  type="submit" value="Borrar" />
                    
                </div>

            }

            
            
        </div>
    </div>
</div>