@model List<ECOMMERCE.CORE.EntityPedido>
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var admin = new Byte[40];
    
    
    ViewData["Admin"] = null;
    

    
    if (this.Context.Session.TryGetValue("Admin", out admin))
    {
        ViewData["Admin"] = System.Text.Encoding.UTF8.GetString(admin);
    }
    
}

<div class="table-responsive">
    
    <table class="table">
        <thead>
            <tr>
                <th>Fecha_Pedido</th>
                <th>Fecha_Envio</th>
                <th>Total</th>
                <th>Estado</th>
                <th>

                </th><th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Pedido in Model)
            {
                <tr>
                    <td>@Pedido.fecha_Pedido</td>
                    <td>@Pedido.fecha_Envio</td>
                    <td>@Pedido.total</td>
                    <td>@Pedido.estado</td>
                   

                    <td class="text-center">
                        <a class="btn btn-primary" asp-area="" asp-controller="MasterPedido" asp-action="VerPedido" asp-route-id="@Pedido.ididentifier_i">Ficha</a>
                    </td>
                    
                    <td class="text-center">
                        @if (Pedido.estado == "PAGADO" && ViewData["Admin"] != null)
                        {
                            <a class="btn btn-primary" asp-area="" asp-controller="MasterPedido" asp-action="CambiarEstadoPedido" asp-route-id="@Pedido.ididentifier_i">Tramitar pedido y enviar</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
  
</div>